<!----------------------------------------PIE DE PÁGINA---------------------------------------->
<footer class="section-p1">
    <section id="datos">
        <div class="dat-container">
            <div class="dat">
                <img class="logo" src="../img/Logo.png" alt="" height="100" width="100">
                <h4>Contacto</h4>
                <p><strong>Dirección: </strong> Prolongación Paseo de Reforma 880, Lomas de Santa Fe, México, C.P. 01219, </p>
                <p><strong>Teléfono: </strong> +52 (55) 5950-4000 y 9177-4400.</p>
                <p><strong>Lada nacional sin costo: </strong> 01 800 627-7615.</p>
            </div>

            <div class="dat">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.994122213392!2d-99.26659062494035!3d19.36940718189651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d200db00f55383%3A0x31d84ccbb5acaf18!2sUniversidad%20Iberoamericana%20Ciudad%20de%20M%C3%A9xico!5e0!3m2!1ses!2smx!4v1721669253920!5m2!1ses!2smx" width="" height="" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="dat">
                <div class="follow"> 
                    <h4>Siguenos en</h4>
                    <div class="icon">
                        <a href="https://www.instagram.com/piai_ibero?igsh=bGJ1MnlpcDFpcTIw&utm_source=qr" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href= "https://x.com/piai_uia?s=11&t=HnK4XiSOzgeb-zOkzL_9Hw" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </section>
        
    <div class="copyright">
        <span>© 2024 Universidad Iberoamericana</span>
    </div>
</footer>